.container {
  width: 599px;
  height: 100%;
  background-color: #10172f;
}

.signIn {
  padding-bottom: 100px;
  width: 100%;
}

.signIn__heading {
  padding: 100px 0 14px 70px;
  margin: 0;
  font-size: 64px;
  font-family: 'HelveticaNeue';
  color: #ffffff;
  line-height: 0.8;
}

.signIn__text {
  margin: 0;
  padding: 10px 0 10px 80px;
  font-size: 32px;
  font-family: 'Myriad Pro';
  color: #616983;
  display: block;
}

.singIn__help {
  display: flex;
}

.singIn__input {
  display: block;
  width: 300px;
  margin-left: 80px;
  background-color: #10172f;
  color: #ffffff;
  border: 1px solid #616983;
}

.singIn__btn {
  position: relative;
  margin-top: 30px;
  margin-left: 80px;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 60px;
  font-size: 18px;
  font-family: 'HelveticaNeue';
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  border: none;
  background-repeat: repeat;
  background-size: 100% 200%;
  background: -moz-linear-gradient(
    left,
    #1e5799 0%,
    #207cca 51%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #1e5799 0%,
    #207cca 51%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #1e5799 0%,
    #207cca 51%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
  -webkit-transform: translate3d(0%, -10%, 0);
  transform: translate3d(0%, -10%, 0);
}

.singIn__btn--arrow {
  position: relative;
  left: -14%;
  width: 30px;
  height: 22px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-image: url('../images/right-arrow.png');
  z-index: 1;
}
.singIn__btn:hover + .singIn__btn--arrow {
  left: -10%;
}

.signIn__link {
  font-size: 32px;
  font-family: 'Myriad Pro';
  color: #3a91e2;
  line-height: 1.7;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
}

.helpPage {
  display: none;
}

.helpText__text {
  position: absolute;
  top: 32%;
  right: 28%;
  font-size: 36px;
  font-family: 'Myriad Pro';
  color: #aebfe4;
}

.helpPage__div__img {
  padding-left: 390px;
}

.helpPage__text {
  margin-top: 94px;
  font-size: 36px;
  font-family: 'Myriad Pro';
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
}

.helpPage__div__btn {
  margin-left: 230px;
}

.homePage__or {
  font-size: 36px;
  font-family: 'HelveticaNeue';
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  padding: 0 36px;
}

.helpPage__btn {
  width: 244px;
  height: 74px;
  cursor: pointer;
  border: none;
  font-size: 24px;
  font-family: 'HelveticaNeue';
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.25;
  text-align: center;
  border-radius: 6px;
  background-color: #7e95d3;
}

@media (min-width: 600px) {
  .container {
    width: 999px;
    display: flex;
    flex-wrap: wrap;
  }
  .helpPage {
    width: 100%;
    height: 100vh;
    background: -moz-linear-gradient(
      45deg,
      #564db8 30%,
      #5c68c3 39%,
      #5a60c0 49%,
      #7db9e8 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #564db8 30%,
      #5c68c3 39%,
      #5a60c0 49%,
      #7db9e8 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #564db8 30%,
      #5c68c3 39%,
      #5a60c0 49%,
      #7db9e8 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564db8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: block;
    padding: 100px 0;
  }

  .helpPage__div {
    position: relative;
  }

  .singIn__div {
    margin-left: 170px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
    flex-wrap: nowrap;
  }

  .helpPage {
    width: 950px;
  }

  .signIn {
    width: 670px;
  }

  .singIn__div {
    margin: 0;
  }

  .signIn__text {
    font-size: 28px;
  }

  .signIn__heading {
    padding: 100px 0 14px 70px;
  }

  .helpPage__div__img {
    padding-left: 260px;
  }

  .helpPage__div__btn {
    margin-left: 100px;
  }

  .singIn__btn--arrow {
    left: -20%;
  }
}
